 body{
         background-color: red;
 }

 #gameboard{
         background-color: black;
         width: 100%;
         height: 660px;
 }

 #Play{
         background-color: Yellow;
         font-family: "Press Start 2P", cursive;
 }

 #Rematch{
        background-color: Yellow;
        font-family: "Press Start 2P", cursive;
 }